        <div class="container">
            <form action="/signup" method="POST">
                <div class="register_container">
                    <h1 class="text-center">Sign Up</h1>
                    <div class="input_container">
                        <div class="div_input">
                            <h4>Full Name</h4>
                            <input type="text" name="fullname" id="" required="true">
                            <div class="icon">
                                <i class='bx bxs-user'></i>
                            </div>
                        </div>
                        <div class="div_input">
                            <div class="icon">
                                <i class='bx bxs-user-detail'></i>
                            </div>
                            <h4>Username</h4>
                            <input type="text" name="username" id=""  required="true">
                        </div>
                    </div>

                    <div class="input_container">
                        <div class="div_input">
                            <div class="icon">
                                <i>@</i>
                            </div>
                            <h4>Correo</h4>
                            <input type="text" name="correo" id=""  required="true">
                        </div>
                        <div class="div_input">
                            <h4>Date</h4>
                            <input type="date" name="date" id="">
                        </div>
                    </div>

                    <div class="input_container">
                        <div class="div_input">
                            <h4>Password</h4>
                            <input type="password" name="password" id=""  required="true">
                            <div class="icon">
                                <i class='bx bxs-lock'></i>
                            </div>
                        </div>
                        <div class="div_input">
                            <h4>Confirm Password</h4>
                            <input type="password" name="confirmPassword" id=""  required="true">
                            <div class="icon">
                                <i class='bx bxs-lock'></i>
                            </div>
                        </div>
                    </div>
                    <div class="btn_register">
                            <input type="submit" class="btn" value="Register">
                    </div>
                </div>
            </form>
        </div>
